# =============================
# ENTORNO: Desarrollo (local)
# =============================
VITE_API_BASE_URL=http://localhost:8000/api

# =============================
# ENTORNO: Demo (Vercel)
# =============================
# VITE_API_BASE_URL=https://tu-app.up.railway.app/api
